@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    background-color: #fcfcba;
	
}
