@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    background-color: #fcfcba;
	
}
